<nav>
  <div class="nav-wrapper grey lighten-5">
    <a href="#!" class="brand-logo"><img class="logo responsive-img" src="./src/assets/images/logo.png"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Historia</a></li>
      <li><a href="#">Lugares</a></li>
      <li><a href="#">Interes</a></li>
      <li><a href="#">Contacoto</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#">Historia</a></li>
      <li><a href="#">Lugares</a></li>
      <li><a href="#">Interes</a></li>
      <li><a href="#">Contacoto</a></li>
    </ul>
  </div>
</nav>