<div class="slider">
  <ul class="slides">
    <li>
      <img src="./src/assets/images/ipiales20.jpg">
      <!-- random image -->
      <div class="caption center-align">
        <h3 class="pacifico">Ipiales Capital del Sur</h3>
        <h5 class="light white-text text-lighten-3">
          Parque 20 de Julio
        </h5>
      </div>
    </li>
    <li>
      <img src="./src/assets/images/ipiales1952.jpg">
      <!-- random image -->
      <div class="caption left-align">
        <h3 class="pacifico">Historia</h3>
        <h5 class="light white-text text-lighten-3">
          <p>
            Ipiales es un municipio colombiano situado en el departamento de Nariño. Se encuentra sobre la frontera con Ecuador; en el
            Nudo de los Pastos, en el altiplano andino; relativamente cerca de la costa del océano Pacífico, al pie de monte
            amazónico y a la línea equinoccial; siendo una región panamazónica. 
          </p>
          <p>
            La Ciudad y Municipalidad forma parte de
            la conurbación binacional Tulcán-Ipiales en donde viven 196.630 habitantes, aunque estos datos podrían ser más
            elevadas ya que la cifra dada para el municipio de Ipiales corresponde al censo 2005 y la del cantón de Tulcán
            del censo 2010. Según estimaciones para el 2012 la población de ambas ciudades aglomeradas es de alrededor de
            260 000 de habitantes, y es por tanto el área metropolitana fronteriza más poblada de la frontera ecuatoriana
            y la segunda más poblada de fronteras colombianas; teniendo Ipiales para el año 2016 una población estimada de
            141 863 habitantes aproximadamente según las proyecciones del DANE.
          </p>
        </h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/3">
      <!-- random image -->
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light white-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/4">
      <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light white-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>