<div class="slider">
  <ul class="slides">
    <li>
      <img src="./src/assets/images/20deJulio.jpg">
      <!-- random image -->
      <div class="caption center-align">
        <h3 class="pacifico">Parque 20 de Julio</h3>
        <h5 class="light grey-text text-lighten-3">
          En este Parque se en cuentra la alcaldia Municipal de Ipiales y la Catedral 20 de julio
        </h5>
      </div>
    </li>
    <li>
      <img src="./src/assets/images/SanFelipe.jpg">
      <!-- random image -->
      <div class="caption right-align">
        <h3 class="pacifico">Parque San Felipe</h3>
        <h5 class="light grey-text text-lighten-3">
          Iglesia San Felipe.
        </h5>
      </div>
    </li>
    <li>
      <img src="./src/assets/images/Santander.jpg">
      <!-- random image -->
      <div class="caption right-align">
        <h3 class="pacifico">Parque Santander</h3>
        <h5 class="light grey-text text-lighten-3">
          Estatua de Santander
        </h5>
      </div>
    </li>
  </ul>
</div>